body{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    opacity: 0,9;
}

#body-blue{
    width: 100vw;
    margin: 0;
    background-color: rgb(166, 233, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    opacity: 0,9;
}

.body-white{
    color: aliceblue;
}

.wrapper{
    display:grid;
    grid-template-rows: 100px;
    background-image: url("../img/jacques-stor-bild-edited.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


#merchendise-wrapper{
    display:grid;
    grid-template-rows: 100px;
}

#about-wrapper{
    display: grid;
    grid-template-rows: 100px;
}

#bg{
    width: 100vw;
    height: 100vh;
}

.jacques-sketch{
    width: 10%;
    height: auto;
    margin-right: 10px;
}

header{
    opacity: 0.9;
    font-size: 30px;
    background-color: rgb(166, 233, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage{
    color: white;
    margin-left: 10px; 
    text-decoration: none;
    
}

main{
    display: flex;
    justify-content: space-between;
    margin: 20%;
    margin-top: 100px;
}

.button{
    width: 150px;
    height: 45px;
    transition: box-shadow .3s;
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 233, 255);
    border-radius: 15px; 
}

.button-current{
    width: 150px;
    height: 45px;
    transition: box-shadow .3s;
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 212, 255); 
    box-shadow: 0 0 11px rgba(158, 158, 158, 0.2);
    border-radius: 15px; 
}

.button:hover{
    box-shadow: 0 0 11px rgba(158, 158, 158, 0.2);
    background-color: rgb(83, 212, 255); 
}

.linktext{
    color: white;
    text-decoration: none;
}

.linktext-about{
    color: white;
}

.linktext-current{
    color: white;
    text-decoration: none;
    box-shadow: 0 0 11px rgba(158, 158, 158, 0.2);
    background-color: rgb(83, 212, 255); 
}

h3{
    margin: 0px;
}

h1{
    margin: 0px;
}

#main-about{
    display: grid;
    grid-template-columns: 100px, 100px, 100px;
    grid-template-rows: 100px, 100px;
    grid-row-gap: 5px;
}


.tröja{
    width: 300px;
    height: 300px;
    margin: 5px;
    transition: box-shadow 0.3s;
    border-radius: 5px;
}

.tröja:hover{
    box-shadow: 0 0 11px #38383833;
    border-radius: 5px;
}

aside{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-color: lightgray;
}

.container{
    display: flex;
}

.about-left{
    width: 200px;
    
}

.text-box{
    width: 100%;
        height: 100vh;
    background-color: white;
}

.about-right{
    width: 200px;
}
.grid-box{
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../img/bakgrund-about-v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.box1, .box2, .box3, .box4{
    margin: 10px;
}
